{% extends 'base.html' %}

{% block content %}
<div class="mt-4">
    <h1>Formularz kontatkowy</h1>
    <h6 class="mb-4">Skontaktuj się z naszymi pracownikami</h6>

    <div id="cf-form">

        <form method="post" action="/contact">
            <div class="d-flex flex-row justify-content-around mb-5">
                <div class="card form-card">
                    <div class="card-body">
                        <h4 class="card-title">Dane kontaktowe</h4>
                        <div class="fcf-form-group">
                            <div class="fcf-input-group">
                                <input type="text" id="Name" name="Name" class="fcf-form-control" placeholder="Imię"
                                    required>
                            </div>
                            <label for="Name" class="fcf-label">Podaj swoje imię</label>
                        </div>
    
                        <div class="fcf-form-group">
                            <div class="fcf-input-group">
                                <input type="text" id="Surname" name="Surname" class="fcf-form-control"
                                    placeholder="Nazwisko" required>
                            </div>
                            <label for="Surname" class="fcf-label">Podaj swoje nazwisko</label>
                        </div>
                        <div class="fcf-form-group">
                            <div class="fcf-input-group">
                                <input type="email" id="Email" name="Email" class="fcf-form-control" placeholder="Email"
                                    required>
                            </div>
                            <label for="Email" class="fcf-label">Podaj adres email do kontaktu</label>
                        </div>
                        <div class="fcf-form-group">
                            <div class="fcf-input-group">
                                <input type="text" id="Phone" name="Phone" class="fcf-form-control" placeholder="Telefon"
                                    required>
                            </div>
                            <label for="Phone" class="fcf-label">Podaj numer telefonu do kontaktu</label>
                        </div>
                    </div>
                </div>
                <div class="card  form-card">
                    <div class="card-body">
                        <h4 class="card-title">Treść</h4>
                        <div class="fcf-form-group">
                            <div class="fcf-input-group">
                                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000"
                                    placeholder="Treść zapytania" required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex flex-column">
                <div class="d-flex flex-row">
                    <input type="checkbox" class="form-check-input" id="Personal" required>
                    <label class="form-check-label" for="Personal">Wyrażam zgodę na przetwarzanie moich danych osobowych w celu i zakresie niezbędnym
                        do realizacji obsługi zgłoszenia</label>
                </div>
                <button type="submit" class="btn btn-primary">Prześlij formularz</button>
            </div>

        </form>
    </div>

</div>
{% endblock %}