{% extends 'base_employee.html' %}

{% block content %}
<div>

<h3 class="title_employee">Aktualności</h3>
<p class="info_employee">Sprzedaj więcej biletów :)))))</p>

<div class="employee_image">
    <img src="/static/images/user.png" alt="user icon" style="width: 100px; height: 100px">
    <p>Id pracownika: {{id}}</p>
</div>

<div class="title_employee">
    <a class="btn_employee" href="/employee/contact">FORMULARZ KONTAKTOWY</a>
    <a class="btn_employee" href="/employee/reservations">REZERWACJE</a>
</div>

</div>


{% endblock %}