{% extends 'base.html' %}

{% block content %}
<div class="d-flex flex-row justify-content-around">
    <div class="d-flex flex-column mt-5">
        {% for show in all_shows %}
        <div class="card" style="width: 1250px;">
            <div class="d-flex flex-row">
                <div class="col-sm-2">
                    <img class="card-img" src={{show.image}} alt="Movie image">
                </div>
                <div class="col">
                    <div class="card-body">
                        <h5 class="card-title">{{show.title}}</h5>
                        <p class="card-text">{{show.date}}</p>
                        <p class="card-text">{{show.time}}</p>
                        <a href="#" class="btn btn-primary">Rezerwuj</a>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body">
                        <p class="card-text">{{show.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}