{% extends 'base_employee.html' %}

{% block content %}
<h2 class="cf_title">Rezerwacje z ostatnich 20 dni</h2>
    <form class="cf_form" method="post" action="/employee/reservations">
    <input placeholder="wyszukaj rezerwacje" name="res_id" type="number" required>
    <input class="res_btn" type="submit" id="search" value="Szukaj"></button>
    </form>
    <div class="d-flex flex-row justify-content-around">

    <div class="cf_table">
          <table id="data" class="table table-striped">
            <thead>
              <tr>
                <th>Numer</th>
                <th>Dane</th>
                <th>Status</th>
                <th>Data Złożenia </th>
              </tr>
            </thead>
            <tbody>
              {% for reservation in all_reservations %}
                <tr onclick="window.location.href='{{ url_for('booking.employee_reservation_details', id = reservation.Numer) }}';">
                  <td>{{ reservation.Numer }}</td>
                  <td>{{ reservation.KlientEmail }}</td>
                  <td>{{ reservation.Status }}</td>
                  <td>{{ reservation.TerminZlozenia }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>
</div>


{% endblock %}