{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <h3 class="cf_title">Zaloguj się</h3>
        <div class="row justify-content-center align-items-center">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="/login" autocomplete="off" method="post">
                            <div class="input_form">
                                <input class="input is-large"  name="login" placeholder="Login" autofocus="">
                            </div>
                            <div class="input_form">
                                <input class="input is-large" type="password" name="password" placeholder="Hasło">
                            </div>
                            <div class="input_form">
                            <button type="button" id="sendlogin" class="btn_login">Zaloguj</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}